* {
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to right, #f857a6, #ff5858);
}

.container {
  margin-top: 60px;
 
}

form {
  background: white;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

h1 {
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
}

input {
  margin-top: 20px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #eee;
  padding: 5px;
  width: 90%;
  color: black;
}

.addButton {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 20px;
  height: 35px;
  background: #ff1493;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.addButton:hover {
  background: #ff69b4;
}

li{
  margin: 20px;
}

.X{
  
  float: right;
  display:flex;
  justify-content: flex-end;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
 
}

/* .X:hover{
  color: red;;
} */


/*-------------------------*/
.completedBtn{
  background: white;
  color: red;
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px;
  margin-right: 40x;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

li:hover > .X {
  color: red;
}

li:hover  {
  background: gray;
  /* height: 30px; */
}
